/* Dark background with light text */
body {
	background-color: #121212;
	color: #e6e6e6;
}

hr {
	color: #7986cb;
}

textarea {
	width: 85%; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: 	border-box; 
	box-sizing: 		border-box; 
	display: block;
	margin-top: 2.5vh;
	background-color: #232323; 	/* Lighter background */
	color: #e6e6e6;				/* Light text */
	border: none;				/* No border */
	border-radius: 8px;			/* Rounded shape */
	cursor: default;			/* Default cursor */
	min-height: 40vh;
	max-height: 90vh;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #3949ab;
}

button {
	background-color: #3F51B5;	/* Lighter background */
	color: #e6e6e6;
	border: none;
	text-align: center;
	width: 85%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 8px;
	text-decoration: none;
}

button:hover {
	background-color: #303F9F;
}

input {
	background-color: #333;
	color: #e6e6e6;
	border: none;
	text-decoration: none;
}

input:valid {
	border: green;
}

input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[ type="number" ] {
	-moz-appearance: textfield;
	margin-bottom: 10px;
	height: 20px;
	border-radius: 4px;
}

input[ type="text" ] {
	margin-bottom: 10px;
	height: 20px;
	border-radius: 4px;
}

select {
	background-color: #333;
	color: #e6e6e6;
	border: none;
	text-decoration: none;
	margin-bottom: 10px;
	height: 30px;
	text-align: center;
	border-radius: 8px;
	max-width: 70%;
	padding-right: 30px;
}

.ingredientArea {
	background-color: #121212;
}

/* Disable focus boxes in all elements in all browsers (kind of) */
*:focus {
	outline: none;
}

.headerLabel {
	cursor: default;
}

.label {
	margin-left: 4vw;
}

.labelIngredient {
	margin-left: 5vw;
}